* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #4473c5;
  --primary-color-hover: #0c419e;
  --secondry-color: #213864;
  --padding-lg-section: 120px;
  --padding-md-section: 50px;
}

body {
  direction: rtl;
  font-family: 'Cairo', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
a {
  color: black !important;
  text-decoration: none;
}
a:hover {
  color: black !important;
}
ul {
  padding: 0 !important;
  margin: 0 !important;
  list-style: none;
}
textarea {
  resize: none;
}
/* Components  */
.sec-padding {
  padding-top: var(--padding-md-section) !important;
}
.sec-title {
  background-color: var(--primary-color);
  width: fit-content;
  font-size: 17px;
  padding: 13px;
}
.sec-title::before {
  content: '';
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
  width: 13px;
  height: 13px;
  border: 1px solid #000000;
  border-radius: 50%;
}
.sec-title::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  width: 13px;
  height: 13px;
  border: 1px solid #000000;
  border-radius: 50%;
}
.primary-color {
  color: var(--primary-color) !important;
}
.primary-color:hover {
  color: var(--primary-color) !important;
}
.bg-linear {
  background-image: linear-gradient(10deg, rgb(186, 201, 230), #ffffff);
}
.bg-linear .form {
  background-color: #ffffffde;
}
button:not(button.navbar-toggler) {
  background-color: var(--primary-color) !important;
  color: white !important;
}
.form-control:focus,
select:focus {
  box-shadow: none !important;
  border-color: var(--primary-color);
}
.user-dropdown .dropdown-menu {
  inset: 7px auto auto 0px !important;
  width: 200px !important;
}
.user-dropdown a {
  font-size: 14px !important;
  text-align: right !important;
  padding: 10px !important;
}
.user-dropdown a:hover {
  background-color: var(--primary-color);
  color: white !important;
}
/* start Header  */
header {
  background-color: #deeaf6;
}
header .sign-btns a {
  color: #925f7e;
  font-size: 18px;
}
@media (max-width: 567px) {
  header .sign-btns a {
    font-size: 17px;
  }
}
header .sign-btns a.active {
  color: var(--primary-color) !important;
}
header .header-content .phone i {
  transform: rotate(-45deg);
  font-size: 20px;
}
nav {
  z-index: 99;
  border-bottom: 1px solid rgba(0, 0, 0, 0.103);
}
nav li a {
  font-weight: 500;
}
nav li a.active {
  color: var(--primary-color) !important;
  font-weight: bold;
}
/* end Header  */

.logos {
  border-bottom: 2px solid black;
}

/* Start Landing  */
.landing {
  padding: 50px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.144);
}
.landing img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.info-box {
  height: 250px;
  border-radius: 5px;
  box-shadow: 0 0.2rem 2.5rem rgba(0, 0, 0, 0.11);
}
.experience {
  padding-bottom: var(--padding-lg-section);
}
/* End Landing  */


/* Start profile  */
.form {
  padding-top: var(--padding-md-section);
  padding-bottom: 30px;
}
.profile .links {
  border-left: 1px solid rgba(26, 26, 26, 0.151);
  border-top: 1px solid rgba(26, 26, 26, 0.151);
  margin-top: var(--padding-md-section);
}
.profile .links a {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.041);
  font-size: 17px;
}
.profile .links a.active {
  color: var(--primary-color) !important;
  border-color: var(--primary-color);
}
@media (max-width: 992px) {
  .profile .links {
    width: 100%;
  }
  .profile .links ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .profile .links a {
    font-size: 14px;
  }
}
.profile-info,
.profile-img {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.profile-img .image {
  height: 150px;
}
.profile-img .image img {
  object-fit: contain;
}
.profile-info-row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.068);
  padding-top: 10px;
  padding-bottom: 10px;
}
.profile-info-row span:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.116);
}
.profile-info-row span:first-child {
  font-size: 15px;
}
@media (max-width: 567px) {
  .profile-info-row span:first-child,
  .profile-info-row label {
    font-size: 14px;
  }
}
/* end Profile  */

/* Start Terms  */

.terms .term-box {
  height: 120px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--secondry-color);
  color: white !important;
  transition: 0.3s;
}
.terms .term-box:hover {
  background-color: var(--primary-color-hover);
}
.sub-list li {
  min-width: 22%;
}
.sub-list li a {
  width: 100%;
}
@media (max-width: 992px) {
  .sub-list li {
    min-width: 30%;
  }
}
/* end Terms  */

/* Start Contact us  */
.contact textarea {
  height: 120px;
}
.contact .contact-content {
  padding-top: var(--padding-md-section);
}
.contact-phone {
  color: var(--primary-color);
}
/* end Contact us  */

/* Start Login   */
.right-sec {
  background-color: #f2f6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: linear-gradient(140deg, #729dec, #e0e5fd) ; */
}
.right-sec .form {
  width: 500px;
  max-width: 100%;
  border-radius: 10px;
  padding: 60px 20px 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.verify .right-sec .form {
  width: 500px;
}
.forget-password-btn {
  font-size: 14px;
  transition: 0.4s;
}
.forget-password-btn a:hover {
  color: var(--primary-color-hover) !important;
  text-decoration: underline;
}
.new-code {
  font-size: 15px;
}
.login-sections {
  height: calc(100vh - 105px);
}
@media (max-width: 767px) {
  .login-sections {
    height: calc(100vh - 150px);
  }
  .right-sec {
    width: 100%;
    background-color: white;
  }
  .right-sec .form {
    padding: 15px;
    background-color: none;
    box-shadow: none;
  }
}
.verify {
  background-image: linear-gradient(140deg, #9861c2, #5cc0de);
}
.verify-input {
  width: 55px;
  height: 55px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.11);
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.verify-input::-webkit-outer-spin-button,
.verify-input::-webkit-inner-spin-button {
  appearance: none;
}
.verify-input:focus {
  border-color: var(--primary-color);
}
/* end Login   */

/* Start Support Company */
.support-company {
  padding-top: var(--padding-lg-section);
}
.support-company img {
  width: 150px;
}

@media (min-width: 567px) {
  .company-content {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .company-info {
    border-right: 1px solid rgba(0, 0, 0, 0.158);
  }
}
.company-logo {
  width: 250px;
  height: 150px;
  object-fit: contain;
}
.companys-logo {
  width: 100px;
  height: 250px;
  object-fit: contain;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.2s;
}
.card:hover {
  transform: scale(1.1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.card .card-img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  border-bottom: 1px solid rgba(0, 0, 0, 0.192);
  padding: 10px;
}
.news .item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.473);
}

@media (min-width: 768px) {
  .news .item {
    border-left: 1px solid rgba(0, 0, 0, 0.13);
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: 0.3s;
    border-radius: 5px;
  }
  .news .item:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
}

.news .item .image {
  width: 250px;
  vertical-align: top;
}
.news .item .image img {
  width: 100%;
}
.news .item .content {
  width: 100%;
}
/* end Support Company */

/* Start Exam  */
.exam-ques .ques-title {
  color: var(--secondry-color);
  font-weight: bold;
}
.exam-ques .answer {
  width: 100%;
}
.exam-ques .answer-label {
  width: 100%;
  background-color: #eeeeee;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 18px;
  word-break: break-all;
  padding: 12px 35px 12px 12px;
}
.exam-ques .answer-label.correct-answer,
.exam-ques .answer-label.correct-answer:hover {
  color: #0f5132;
  background-color: #addac5;
  border-color: #badbcc;
}
.exam-ques .answer-label.wrong-answer,
.exam-ques .answer-label.wrong-answer:hover {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}
.exam-ques .answer-label:hover,
.exam-ques input:checked + label {
  background-color: #add3fd;
}

.checkmark {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  height: 19px;
  width: 19px;
  border-radius: 50%;
  background-color: #fff;
}
.checkmark:after {
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
}
.exam-ques input:checked + label .checkmark {
  background-color: #2196f3;
}

@media (min-width: 668px) {
  .exam-ques {
    font-size: 18px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px 30px;
  }
}
/* End Exam  */

/* Start Achive */
.achive-card {
  overflow: hidden;
}


@media (max-width: 767px) {
  .achive-card {
    margin-bottom: 30px;
  }
  .achive-card .thumbnail {
    box-shadow: none;
    border: 1px solid #d2d2d2;
    /* transform: none; */
  }
}

.achive-card .info {
  position: absolute;
  bottom: 0;
  background-color: rgba(43, 38, 38, 0.699);
  width: 100%;
  color: white;
  font-size: 14px;
  padding:15px 10px;
  transform: translateY(100%);
  transition: 0.3s;
}
.achive-card:hover .info {
  transform: translateY(0);

}
/* End Achive */

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;
  font-weight: bold !important;
  color: white;

  /* background-color: white; */
}

.swiper-button-next,
.swiper-button-prev {
  top: 0;
  background-color: var(--primary-color-hover);
  margin-top: 0;
  height: 38px !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* .swiper-button-next {
  right: 45px !important;
  left: auto;
} */

/*Start Footer */
.footer {
  padding: 30px 0 0;
  /* background-color: var(--primary-color); */
  background-color: #193b77;
  border-top: 1px solid rgba(0, 0, 0, 0.233);
}

.footer .footer-content {
  color: var(--primary-color-hover);
  position: relative;
  color: white;
}
.footer .footer-content > span {
  display: block;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  color: white;
}
.footer .footer-content > span:hover {
  color: var(--secondry-color);
}
.footer .footer-content a {
  display: inline-block;
  padding: 8px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer .footer-content a:hover:not(.social a) {
  transform: translateX(-10px);
  color: white !important;
}
@media (max-width: 767px) {
  .footer .footer-content a {
    font-size: 14px;
  }
}
ุง .footer .footer-content i {
  padding-left: 6px;
}
.footer .copy {
  position: relative;
  padding-top: 2rem;
  text-align: center;
  color: #fff;
}
@media (max-width: 767px) {
  .footer .copy {
    padding-top: 3rem;
  }
}
.foot-arrow {
  width: 11px;
  transform: rotate(180deg);
}
.footer-end {
  border-top: 1px solid rgba(0, 0, 0, 0.171);
}
.footer-end span {
  color: var(--secondry-color);
  color: white;
}
.text-dark-50 {
  color: #d4d4d4 !important;
}

/*End Footer */
